@media screen and (max-width: 850px) {
#text_btn_box{
  width: 550px;
}
.message {
  padding-right: 5%;
}
  .message .date {
    font-size: 10px;
  }
  .message .content {
    font-size: 12px;
  }
  .message p{

    width: 80%;
  }
}
@media screen and (max-width: 550px){
  #text_btn_box{
    width: 400px;
    padding-left: 50px;

  }
  #text_btn_box textarea{
    width: 70%;
  }
  .img_box_header{

    margin-left: 15px;
  }
  .btn{
    display: block;
  }
  .message_wrapper{
    padding-top: 10px;
  }
  .message{
    height:120px;
  }
}
@media screen and (max-width: 400px){
  #text_btn_box{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  #text_btn_box textarea{
    width: 74%;
  }
  .message {
    padding-right: 0px;
  }
}
